/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {


  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {

  .btn {
    padding: 2px 2px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    font: none;

  }


  .top-wrapper {
    text-align: center;
  }

  /* header-rightクラスのdisplayをnoneに指定してください */
  .header-right{
    display: none;
  }

  /* menu-iconクラスのdisplayをblockに指定してください  */
  .menu-icon{
    display: block;
  }

  .menu-icon:active{
    .header-right1{
      display: block;
    }
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

.footer-left{
  float: left;
}

  .footer-right{
    float: right;
  }



}
